<%- include('header.html') %>

<main>
	<article>
	<h3>Contact</h3>
	<div id="wrapperCaptcha">
		<p>Solve this captcha to continue.</p>
		<img src="../assets/img/captcha.PNG" alt="">
		<input type="text" name="captcha" id="captcha">
		<button>SEND</button>
	</div>
	<form id="formulario" action="" method="post" enctype="text/plain">
		<fieldset>
			<div>
				<label for="name">Name:</label><br>
				<input type="text" id="name" required>
			</div>
			<div>            
				<label for="email">Email:</label><br>
				<input type="text" id="email" required>
			</div>
		</fieldset>
		<div>
			<label for="text">Leave us a comment:</label><br>
			<textarea name="" id="text" cols="50" rows="10"></textarea>
		</div>
		<div>
			<input type="submit" value="send">
			<input type="reset" value="reset">
		</div>
	</form>
	</article>
</main>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<%- include('footer.html') %>