<%- include('header.html') %>

<main>
	<article>
		<h3>Welcome to FlamePedia</h3>
		<p bs-light-text-emphasis>Here you will find links to dowload movies, games, books and much more!</p>
		<h4>Recently Added:</h4>
		<div id="wrapperCajitas" class="cajitasHome"></div>
	</article>
	<div class="container-fluid foto_publi columna_de_publicidad">
		<div class="rounded-circle">
			<a class="publi" href="https://www.coderhouse.com/?pipe_source=google&pipe_medium=cpc&pipe_campaign=0&gclid=Cj0KCQjwib2mBhDWARIsAPZUn_nSLGB6jomA2nzXP26XS58_TPM-kRsYPC-z8MnN18p5hlJAkXH6bMoaAloCEALw_wcB" target="_blank"><img src="./assets/icons/coderhouse-logo.png" alt=""></a>
		</div>
	</div>
</main>

<%- include('footer.html') %>